.biz-curd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;

    &-search,
    &-body,
    &-body-function,
    &-body-list {
        align-self: center;
        width: 100%;
    }

    &-search {
        height: 48px;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 58px);

        &-function {
            height: 32px;
        }

        &-list {
            height: calc(100% - 42px);
        }

        &-list-only {
            height: 100%;
        }
    }
}
