@font-face {
  font-family: "ym-mobile"; /* Project id 2842669 */
  src: url('iconfont.eot?t=1634114772369'); /* IE9 */
  src: url('iconfont.eot?t=1634114772369#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1634114772369') format('woff2'),
       url('iconfont.woff?t=1634114772369') format('woff'),
       url('iconfont.ttf?t=1634114772369') format('truetype'),
       url('iconfont.svg?t=1634114772369#ym-mobile') format('svg');
}

.ym-mobile {
  font-family: "ym-mobile" !important;
  font-size: 16px;
  width: 16px;
  height: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ym-mobile-guazhangfukuanshenqingdan:before {
  content: "\e604";
}

.ym-mobile-yusuanxiangmutiaozhengshenqing:before {
  content: "\e681";
}

.ym-mobile-bumenyusuantiaozhengshenqing:before {
  content: "\e680";
}

.ym-mobile-yongyinshenpi:before {
  content: "\e66f";
}

.ym-mobile-zhuanli:before {
  content: "\e667";
}

.ym-mobile-ERPxitong-peixunshenqing:before {
  content: "\e669";
}

.ym-mobile-hetongshoufukuan:before {
  content: "\e66a";
}

.ym-mobile-xiaojiadanshenpi:before {
  content: "\e66b";
}

.ym-mobile-fengxianguanli:before {
  content: "\e66c";
}

.ym-mobile-yufukuanfapiaoshenpi:before {
  content: "\e66d";
}

.ym-mobile-shangbaolvhangxiangqing:before {
  content: "\e66e";
}

.ym-mobile-chuchashenpi:before {
  content: "\e670";
}

.ym-mobile-shangbiao:before {
  content: "\e671";
}

.ym-mobile-lingliaodan:before {
  content: "\e672";
}

.ym-mobile-weituoshouquan:before {
  content: "\e673";
}

.ym-mobile-falvjianyishu:before {
  content: "\e674";
}

.ym-mobile-ERPxitong-falvxitong:before {
  content: "\e675";
}

.ym-mobile-changxiebiangeng:before {
  content: "\e676";
}

.ym-mobile-zhaobiaojihuashenpi:before {
  content: "\e677";
}

.ym-mobile-fawuyijianshu:before {
  content: "\e678";
}

.ym-mobile-jiufenanjian:before {
  content: "\e679";
}

.ym-mobile-zhaobiaowenjianshenpi:before {
  content: "\e67a";
}

.ym-mobile-pufagongshi:before {
  content: "\e67b";
}

.ym-mobile-hetongzhaotoubiao:before {
  content: "\e67c";
}

.ym-mobile-yitibaosong:before {
  content: "\e67d";
}

.ym-mobile-bumenqingshibaogao:before {
  content: "\e67e";
}

.ym-mobile-hetongguanli:before {
  content: "\e67f";
}

.ym-mobile-chucha:before {
  content: "\e612";
}

.ym-mobile-jitilianqiandan:before {
  content: "\e615";
}

.ym-mobile-duiwaijiesuanshenqingshenpi:before {
  content: "\e617";
}

.ym-mobile-bushuaka:before {
  content: "\e618";
}

.ym-mobile-feiyongbaoxiaodan:before {
  content: "\e619";
}

.ym-mobile-yuangongzizhuxitong-bushuaka:before {
  content: "\e61a";
}

.ym-mobile-feiyongyusuanshenpi:before {
  content: "\e61b";
}

.ym-mobile-shijia:before {
  content: "\e61c";
}

.ym-mobile-jiekuanlianqianshenpi:before {
  content: "\e61d";
}

.ym-mobile-escm-fukuanshenpi:before {
  content: "\e61e";
}

.ym-mobile-laowufeilianqiandan:before {
  content: "\e61f";
}

.ym-mobile-shuifeilianqiandan:before {
  content: "\e620";
}

.ym-mobile-jiaban:before {
  content: "\e621";
}

.ym-mobile-xiangmutiaozhengshenqing:before {
  content: "\e622";
}

.ym-mobile-chalvbaoxiaodan:before {
  content: "\e623";
}

.ym-mobile-cailiaoxiangmulixiangshenpi:before {
  content: "\e624";
}

.ym-mobile-cailiaoxiangmuzengbushenpi:before {
  content: "\e625";
}

.ym-mobile-teshufukuanshenpi:before {
  content: "\e626";
}

.ym-mobile-fukuanshenpidan:before {
  content: "\e627";
}

.ym-mobile-yinhangshouxufeijikaizhengfei:before {
  content: "\e628";
}

.ym-mobile-chalvlianqianshenpi:before {
  content: "\e629";
}

.ym-mobile-zixunhetongxieyi:before {
  content: "\e62a";
}

.ym-mobile-dailihetongbiangeng:before {
  content: "\e62b";
}

.ym-mobile-fukuan:before {
  content: "\e62c";
}

.ym-mobile-gongchushenqingdanshenpi:before {
  content: "\e62d";
}

.ym-mobile-gongyingshangfukuandan:before {
  content: "\e62e";
}

.ym-mobile-qingjiadanshenpi:before {
  content: "\e62f";
}

.ym-mobile-baohanshenqing:before {
  content: "\e630";
}

.ym-mobile-dailichangxie:before {
  content: "\e631";
}

.ym-mobile-shijiashenqing:before {
  content: "\e632";
}

.ym-mobile-zhibanshenqing:before {
  content: "\e633";
}

.ym-mobile-caigouhetongshenqing:before {
  content: "\e634";
}

.ym-mobile-gongyingshangjiesuandan:before {
  content: "\e635";
}

.ym-mobile-feiyongshenqingdan-jinianpinshenqingdan:before {
  content: "\e636";
}

.ym-mobile-huiyijiyao:before {
  content: "\e637";
}

.ym-mobile-cheliangshiyongshenqingdanshenpi:before {
  content: "\e638";
}

.ym-mobile-tongzhigonggaoshenpi:before {
  content: "\e639";
}

.ym-mobile-a-bumenfashouwen:before {
  content: "\e63a";
}

.ym-mobile-jiekuandan:before {
  content: "\e63b";
}

.ym-mobile-shenqingdan:before {
  content: "\e63c";
}

.ym-mobile-cheliangguanlishenpi:before {
  content: "\e63d";
}

.ym-mobile-xiangmulixiangshenqing:before {
  content: "\e63e";
}

.ym-mobile-ERPxitong-ESCM:before {
  content: "\e63f";
}

.ym-mobile-ERPxitong-xinxibaosong:before {
  content: "\e640";
}

.ym-mobile-tuikuanshenpi:before {
  content: "\e641";
}

.ym-mobile-ERPxitong-wangluobaobiao:before {
  content: "\e642";
}

.ym-mobile-shoukuanshenpi:before {
  content: "\e643";
}

.ym-mobile-shoukuanrenlingdan:before {
  content: "\e644";
}

.ym-mobile-anquanchengnuogonggao:before {
  content: "\e645";
}

.ym-mobile-xuqiushenqing-feiERPmokuai:before {
  content: "\e646";
}

.ym-mobile-jishoudingdan:before {
  content: "\e647";
}

.ym-mobile-dianfeilianqiandan:before {
  content: "\e648";
}

.ym-mobile-xuqiushenqing-ERPmokuai:before {
  content: "\e649";
}

.ym-mobile-kaoqinshensushenqingshenpi:before {
  content: "\e64a";
}

.ym-mobile-baoxiaodan:before {
  content: "\e64b";
}

.ym-mobile-ERPxitong-zhushuju:before {
  content: "\e64c";
}

.ym-mobile-feiyongbaoxiaoshenpi:before {
  content: "\e64d";
}

.ym-mobile-huiyishiguanli:before {
  content: "\e64e";
}

.ym-mobile-wuhetongyingongzhifudan:before {
  content: "\e64f";
}

.ym-mobile-yingfufapiao:before {
  content: "\e650";
}

.ym-mobile-yufukuan:before {
  content: "\e651";
}

.ym-mobile-caigoudingdan:before {
  content: "\e652";
}

.ym-mobile-qingjiashenpi:before {
  content: "\e653";
}

.ym-mobile-jiguanzhaodaishenpi:before {
  content: "\e654";
}

.ym-mobile-caigoujihua:before {
  content: "\e655";
}

.ym-mobile-hetongbiangengshenpi:before {
  content: "\e656";
}

.ym-mobile-gongsichengpijian:before {
  content: "\e657";
}

.ym-mobile-jiesuanguazhangshenpi:before {
  content: "\e658";
}

.ym-mobile-caigouxieyi:before {
  content: "\e659";
}

.ym-mobile-ERPxitong-quanxianshenqing:before {
  content: "\e65a";
}

.ym-mobile-lixiangshenqing:before {
  content: "\e65b";
}

.ym-mobile-a-gongsifashouwen:before {
  content: "\e65c";
}

.ym-mobile-ERPxitong-gongyingshang:before {
  content: "\e65d";
}

.ym-mobile-fukuanjihuashenpi:before {
  content: "\e65e";
}

.ym-mobile-waipinlvshi:before {
  content: "\e65f";
}

.ym-mobile-jiesuan:before {
  content: "\e660";
}

.ym-mobile-hetongjiechu:before {
  content: "\e661";
}

.ym-mobile-zhengzhaoguanli:before {
  content: "\e662";
}

.ym-mobile-lixiangshenpi:before {
  content: "\e663";
}

.ym-mobile-fengxianyanpanbiao:before {
  content: "\e664";
}

.ym-mobile-ERPxitong-wuzicaigou:before {
  content: "\e665";
}

.ym-mobile-zongzhangshenpi:before {
  content: "\e666";
}

.ym-mobile-fukuanshenpi:before {
  content: "\e668";
}

